<nb-card size="small">
    <nb-card-header>Login</nb-card-header>
    <nb-card-body>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label>Username:</label>
            <input nbInput type="text" placeholder="username" formControlName="username"><br><br>

            <label>Password:</label>
            <input nbInput type="password" formControlName="password"><br><br>

            <input nbButton type="submit" value="Login"> 
            <a nbButton class="button" routerLink="/items">Back</a>

        </form>
    </nb-card-body>
</nb-card>
