:host {
    display: block;
    width: 20em;
    height: auto;
    overflow: visible;
    position: relative;
    float: left;
    padding: 0.5em;
}

img {
    width: 100%;
}

.btn-group {
    float: right;
    position: relative;
}

.card-title {
    float: left;
}