<nb-card size="small">
    <nb-card-header>
        <div class="card-title">
            {{item.itemName}}
        </div>
      <div class="btn-group">
        <button nbButton size="tiny" (click)="delete()" status="danger" *ngIf="isAdmin">-</button>
        <button nbButton size="tiny" (click)="addToOrder()" status="primary" *ngIf="!isAdmin && isLoggedIn">+</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <img src="http://localhost:3000/{{item.imageSrc}}" alt="{{item.itemName}}">
    </nb-card-body>
    <nb-card-footer>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Price: {{item.price}}</nb-accordion-item-header>
          <nb-accordion-item-body>
            ID: {{item.id}}<br>
            Height: {{item.height}} <br>
            Type: {{item.itemType}}
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-footer>
  </nb-card>