<div class="title-label">
    <h2>Hello, Administrator.</h2>
</div>

<div class="title-label">
    <h3>Orders In Progress</h3><hr>
</div>

<div *ngIf="inProgressOrders.length > 0">
  <div class="orders-list" *ngFor="let order of inProgressOrders; let i = index">
    <h6>Date: {{displayDate(order.date)}}  Time: {{displayTime(order.date)}}  
        Items: {{order.order.length}}  Price: ${{order.price}}  Completed: {{order._isCompleted}}  
        <button nbButton class="button" (click)="displayDropdown('in-progress-' + i)" size="small" status="info">View Items</button>
        <button nbButton class="button" (click)="completeOrder(order.orderId)" status="primary">Complete Order</button>
      <div class="dropdown" id="in-progress-{{i}}">
        <div class="item-detail" *ngFor="let itemOrder of order.order">
            <img src="http://localhost:3000/{{itemOrder.item.imageSrc}}" width="150">
                <p>ItemID: {{itemOrder.item.id}}</p>
              <p>{{itemOrder.item.itemName}}  x  {{itemOrder.quantity}}  =  ${{itemOrder.totalPrice}}</p>
            </div>
      </div>
    </h6>
  </div>
</div>
<p *ngIf="inProgressOrders.length == 0">All Orders have been processed.</p>


<div class="title-label">
  <h3>Completed Orders</h3><hr>
</div>

<div *ngIf="completedOrders.length > 0">
  <div class="orders-list" *ngFor="let order of completedOrders; let i = index">
    <h6>Date: {{displayDate(order.date)}}  Time: {{displayTime(order.date)}}  
        Items: {{order.order.length}}  Price: ${{order.price}}  Completed: {{order._isCompleted}}  
        <button nbButton class="button" (click)="displayDropdown('completed-' + i)" size="small" status="info">View Items</button>
      <div class="dropdown" id="completed-{{i}}">
        <div class="item-detail" *ngFor="let itemOrder of order.order">
            <img src="http://localhost:3000/{{itemOrder.item.imageSrc}}" width="150">
                <p>ItemID: {{itemOrder.item.id}}</p>
              <p>{{itemOrder.item.itemName}}  x  {{itemOrder.quantity}}  =  ${{itemOrder.totalPrice}}</p>
            </div>
      </div>
    </h6>
  </div>
</div>

<p *ngIf="completedOrders.length == 0">All Orders are still being processed.</p>