
.title-label {
    margin: auto;
    text-align: center;
}

.orders-list {
    margin: auto;
    width: 80%;
    border: 1px solid white;
    padding: 1em;
    text-align: center;
}

/* This is used to display a list of Items under an order*/
.dropdown {
    display: none;
}

.item-detail {
    margin: auto;
    display: inline-block;
    width: 60%;
    border: 1px solid white;
    padding: 1em;
    text-align: center;
    overflow: visible;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}