<nb-layout>

  <nb-layout-header fixed>
    Alsh Trading Company
  </nb-layout-header>

  <nb-layout-column>
    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
