:host {
    max-height: 25rem;
    overflow: visible;
    position: relative;
  }
  
.button-bar {
  float: right;
  position: relative;
}

.orders {
  padding: 1em;
  margin: 0.5em;
  border: 2px solid whitesmoke;

  .order-contents{
    padding: 2em;
  }

  img {
    max-width: 150px;
  }
  p {
    font-size: small;
  }
}

.card-title {
  float: left;
}

.btn-group {
  float: right;
}