
<nb-layout>
  <nb-sidebar class="sidebar" *ngIf="isLoggedIn && !isAdmin && this.itemOrders.length > 0">
    <nb-sidebar-header>
      <h3>Your Order</h3>
    </nb-sidebar-header>
    
    <div *ngFor="let order of itemOrders" class="orders">
      <div class="card-title">
          <h4>{{order.item.itemName}}</h4>
      </div>
      <div class="btn-group">
        <button nbButton size="tiny" (click)="removeFromOrder(order.item.id)" status="danger">-</button>
      </div>

      <div class="order-contents">
        <img src="http://localhost:3000/{{order.item.imageSrc}}" alt="{{order.item.itemName}}"><br>
        <p>Quantity: {{order.quantity}}</p>
        <p>Price: ${{order.item.price}} </p>
      </div>
    </div>
    <input nbButton type="submit" value="Submit" (click)="submitOrder()" status="primary">

</nb-sidebar>
<nb-layout-column>
  <br>
  <div class="button-bar">
      <a nbButton class="button" routerLink="/create-item" *ngIf="isAdmin">Add an Item</a>
      <a nbButton class="button" routerLink="/login" *ngIf="!isLoggedIn">Login</a>
      <a nbButton class="button" routerLink="/register" *ngIf="!isLoggedIn">Register</a>
      <a nbButton class="button" routerLink="/user" *ngIf="isLoggedIn && !isAdmin">My Account</a>
      <a nbButton class="button" routerLink="/admin" *ngIf="isAdmin">Manage Orders</a>
      <button nbButton class="button" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  </div>
  <br>

  <p>Welcome to the Alsh Trading Company online catalog.</p>
  <p *ngIf="!isLoggedIn">You may browse and search items as a guest, but please log in or create an account 
      to place an order.
  </p>

  <p *ngIf="isLoggedIn && !isAdmin">You may create a new order by choosing Items. 
    Click on the blue "plus" sign next to an Item and type in how many you wish to order.
  To view your existing Orders, click on the "My Account" button.</p>

  <p *ngIf="isAdmin">Welcome, administrator. 
    You may remove Items from the catalog by clicking on the red "minus" button.</p>

  <p *ngFor="let item of Items">
      <app-item [item]="item" 
      [isAdmin]="isAdmin"
      [isLoggedIn]="isLoggedIn"
      (remove-item)="removeItem($event)"
      (add-to-order)="itemAddedToOrder($event)">
      </app-item>
  </p>
</nb-layout-column>

</nb-layout>
