<nb-card size="large">
    <nb-card-header>
        <h5>Confirm Your Order</h5>
    </nb-card-header>

    <nb-card-body>
        <h5>Number of Items: {{items.length}}</h5>
        <div class="items-list" *ngFor="let itemOrder of items">
            {{itemOrder.item.itemName}}  x  {{itemOrder.quantity}}  =  ${{itemOrder.totalPrice}}<br>
        </div>
        <h5>Total Price: ${{total}}</h5>

        <form [formGroup]="submitOrderForm" id="submit-order-form" (ngSubmit)="onSubmit()">

            <label>Your Shipping Address</label>
            <input nbInput type="text" formControlName="address">
        </form>
    </nb-card-body>

    <nb-card-footer>
        <button nbButton status="danger" (click)="close()">Cancel</button>  
        <input nbButton type="submit" form="submit-order-form" value="Submit Order" status="primary">
    </nb-card-footer>        
</nb-card>
