<nb-card size="small">
    <nb-card-header>Create a New Account</nb-card-header>
    <nb-card-body>
        <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
            <label>Username: </label>
            <input nbInput type="text" placeholder="username" formControlName="username"><br><br>

            <label>Email: </label>
            <input nbInput type="email" placeholder="email@example.com" formControlName="email"><br><br>

            <label>Password: </label>
            <input nbInput type="password" formControlName="password"><br><br>

            <input nbInput type="submit" value="Create Account">
        </form>
    </nb-card-body>
</nb-card>

