<nb-card size="large">
    <nb-card-header>Create New Item</nb-card-header>
    <nb-card-body>
        <form [formGroup]="itemForm" id="item-form" (ngSubmit)="onSubmit()">
            <label>Item ID: </label>
            <input nbInput type="text" placeholder="item ID" formControlName="id"><br><br>
        
            <label>Height: </label>
            <input nbInput type="text" placeholder="height" formControlName="height"><br><br>
        
            <label>Item Name: </label>
            <input nbInput type="text" placeholder="item name" formControlName="name"><br><br>

            <label>Price: </label>
            <input nbInput type="text" placeholder="price" formControlName="price"><br><br>
        
            <label>Type: </label>
            <nb-select (change)="changeType($event)" formControlName="type" placeholder="Select Item Type">
                <nb-option value="Nesting Doll">Nesting Doll</nb-option>
                <nb-option value="Wooden Santa">Wooden Santa</nb-option>
                <nb-option value="Lacquered Box">Lacquered Box</nb-option>
                <nb-option value="Birch Bark Box">Birch Bark Box</nb-option>
                <nb-option value="Ornament">Ornament</nb-option>
                <nb-option value="Icons and Religious">Icons and Religious</nb-option>
                <nb-option value="Jewelry">Jewelry</nb-option>
                <nb-option value="Souvenirs">Souvenirs</nb-option>
            </nb-select>        
            <br><br>
            <label>Photo: </label>
            <input nbInput type="file" accept="image/*" (change)="onChange($event)" required><br>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <input nbButton type="submit" form="item-form" value="Create Item" status="primary">
        <a nbButton class="button" routerLink="" status="danger">Cancel</a>
    </nb-card-footer>
</nb-card>